<div class="panel panel-default">
  <div class="panel-body">
      <div class="thumbnail">
          <img [src]="show.showposter[0].url" *ngIf="show.showposter; else blankImage">
          <ng-template #blankImage>
              <img src="assets/images/blank_mov.jpg">
          </ng-template>
          <div class="caption row">
              <span class="movie-title col-xs-12">{{show.title}}</span>
              <div class="col-xs-12">
                  <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-heart"></i></a>
                  <span>{{show.year}}</span>
              </div>
          </div>
      </div>
  </div>
</div>