<div class="panel panel-default">
  <div class="panel-heading">Trakt</div>
  <div class="panel-body">
    <div *ngIf="!isAuthenticated">
      <p>Visit https://trakt.tv/activate and enter the code to connect.</p>
      <h1>{{deviceCode}}</h1>
    </div>
    <div *ngIf="isAuthenticated">
        <h3>Watchlist</h3>
      <div class="verticle-scroll">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-div" *ngFor="let movie of traktWatchlist">
          <item-card [movie]="movie"></item-card>
        </div>
      </div>
    </div>
  </div>
</div>
